

<div >
  <div class="overlay" id="overlay"></div>
  <div class="ex-modal">
    <img
      src=""
      alt="Exercise Image" class="mod-img"/>
    <div class="title"></div>
    <div class="stars">★★★★☆</div>
    <div class="info" id=""></div>
    <div class="info "><span></div>
    <div class="info"><span></div>
    <div class="info"><span></div>
    <div class="info"><span></div>
    <p class="info">
      
    </p>
    <div class="buttons">
      <button class="btn btn-secondary" id="ex-mod-fav">
        Add to favourites
        <svg class="icon" width="1.75rem" height="1.75rem" fill="black" fill-opacity="0.5">
          <use href="./images/heart.svg"></use>
        </svg>
      </button>
      <button class="btn btn-primaryy" onclick="alert('Rating sent')">Give a rating</button>
    </div>
  </div>
</div>




