

<div class="mod-n-over" style="display: none;">
  <div class="overlay" id="overlay"></div>
  <div class="ex-modal">
    <img id="mod-img"
      src=""
      alt="Exercise Image" />
    <div class="modal-text">
      <div class="title"></div>
      <div class="stars">★★★★☆</div>
      <hr style="width: 100%;"/>
      <div class = "info-block">
        <div class = "mod-lable">Target <span class="info"></span></div>
        <div class = "mod-lable">Body Part <span class="info"></span></div>
        <div class = "mod-lable">Equipment <span  class="info"></span></div>
        <div class = "mod-lable">Popular <span class="info"></span></div>
        <div class = "mod-lable">Burned Calories<span class="info"></span></div>
      </div>
      <hr style="width: 100%;"/>
      <p class="info discription">
        
      </p>
   
    <div class="buttons">
      <button class="btn btn-secondary" id="ex-mod-fav">
        Add to favourites
        <svg class="icon" width="1.75rem" height="1.75rem" fill="black" fill-opacity="0.5" style = "color: black;">
          <use href="./images/heart.svg"/>
        </svg>
      </button>
      <button class="btn btn-primaryy" onclick="alert('Rating sent')">Give a rating</button>
    </div>
  </div>
  </div>
</div>




