<section class="exercises">
    <div class="container">
        <div class="exercises-nav">
            <p class="exercises-title">Exercises <span class="body-parts-title">/ <span class="waist-title">Waist</span></p>
            <div class="search-container">
                <input type="text" placeholder="Search" class="search-input" />
                <svg class="icon" width="1.75rem" height="1.75rem">
                    <use href="./images/icons.svg#search"></use>
                </svg>
            </div>
            <nav class="tabs">
                <a href="#" class="tab-link active" data-tab="muscles"
                    >Muscles</a
                >
                <a href="#" class="tab-link" data-tab="body-parts"
                    >Body parts</a
                >
                <a href="#" class="tab-link" data-tab="equipment">Equipment</a>
            </nav>
        </div>
        <div class="tab-motivation-container">
            <div class="tab-content">
                <div class="muscles-tab">
                    Content for muscles
                    <!-- For the future implementation -->
                </div>
                <div class="body-parts-tab">
                    Content for body-parts
                    <!-- For the future implementation -->
                </div>
                <div class="equipment-tab">
                    Content for equipment
                    <!-- For the future implementation -->
                </div>
            </div>
            <div class="motivation-section">
                <div class="quote-card">
                    <div class="quote-icon">
                        <svg width="2rem" height="2rem">
                            <use href="./images/icons.svg#run"></use>
                        </svg>
                    </div>
                    <div class="quote-container">
                        <p class="quote-title">
                            Quote of the day
                            <svg width="1.25rem" height="1.25rem">
                                <use href="./images/icons.svg#comma"></use>
                            </svg>
                        </p>
                        <p class="quote-text">
                            A lot of times I find that people who are blessed
                            with the most talent don't ever develop that
                            attitude, and the ones who aren't blessed in that
                            way are the most competitive and have the biggest
                            heart.
                        </p>
                        <p class="quote-author">Tom Brady</p>
                    </div>
                </div>

                <div class="motivation-image">
                    <img src="./images/quote.jpg" alt="Motivation" />
                </div>

                <div class="sports-norm-card">
                    <div class="sports-icon">
                        <svg width="2rem" height="2rem">
                            <use href="./images/icons.svg#workout"></use>
                        </svg>
                    </div>
                    <div>
                        <p class="sports-title">110 min</p>
                        <p class="sports-subtitle">Daily norm of sports</p>
                        <p class="sports-text">
                            The World Health Organization recommends at least
                            150 minutes of moderate-intensity aerobic physical
                            activity throughout the week for adults aged 18–64.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>