<section class="favorites">
  <div class="container">
      <div class="favorites-nav">
          <p class="favorites-title">Favorites</p>
      </div>
      <div class="tab-motivation-container">
          <div class="motivation-section">
              <div class="quote-card">
                  <div class="quote-icon">
                     <img src="/images/run.svg" width="32px" height="32px" alt="run man">
                  </div>
                  <div class="quote-container">
                      <p class="quote-title">
                          Quote of the day
                          <img src="/images/comma.svg" width="20px" height="20px" alt="comma">
                      </p>
                      
                  </div>
              </div>
              

              <div class="motivation-bottom-wrap">
                <div class="motivation-image">
                  <picture>
                    
                    <source srcset="./images/favorites/favorites-image-desktop@2x.jpg" media="(min-width: 1440px)" type="image/jpg">
                    
                    <source srcset="./images/favorites/favorites-image-desktop.jpg" media="(min-width: 1024px)" type="image/jpg">
                
                    <source srcset="./images/favorites/favorites-image-tablet@2x.jpg" media="(min-width: 768px)" type="image/jpg">
                    
                    <source srcset="./images/favorites/favorites-image-tablet.jpg" media="(min-width: 768px)" type="image/jpg">
            
                    <source srcset="./images/favorites/favorites-image-mobile@2x.jpg" media="(max-width: 767px)" type="image/jpg">
                    <img src="./images/favorites/favorites-image-mobile.jpg" alt="Motivation" loading="lazy" />
                  </picture>
                </div>
                

                <div class="sports-norm-card">
                    <div class="sports-icon">
                        <img src="/images/workout.svg" width="20px" height="20px" alt="workout">
                    </div>
                    <p class="sports-title">110 min</p>
                    <p class="sports-subtitle">Daily norm of sports</p>
                </div>
              </div>
          </div>
          <div class="tab-content">
            <p id="no-favorites-msg" class="no-content hidden">It appears that you haven't added any exercises to your favorites yet. To get started, you can add exercises that you like to your favorites for easier access in the future.</p>
            
          </div>
          <ul class="favorites-container">
            <!-- Тут буде список улюблених вправ -->
          </ul>
      </div>
  </div>
</section>