<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>YOUR ENERGY</title>
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
		integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png" />
	<link rel="stylesheet" href="src/css/style.css" />
</head>