<section class="section hero-section">
	<div class="container">
		<div class="hero">
			<div class="hero__icon-title">

				<h1 class="hero__title">
					<svg width="58px" height="58px">
						<use href="./images/icons.svg#sun"></use>
					</svg>
					Get <span class="hero__title-part">Body</span> in <br />shape, Stay
					healthy
				</h1>
				<img class="hero__pic" src="/images/hero/hero-image-small-desktop.jpg" srcset="/images/hero/hero-image-small-desktop@2x.jpg 2x" alt="young women doing fitness outdoors together" width="168" height="100" loading="lazy" />
			</div>
			<p class="hero__subtitle">
				Transform your physique and embrace a healthier lifestyle with our
				comprehensive fitness and nutrition support.
			</p>

			<div class="hero__image-wrap">
				<picture class="hero__image">
					<source media="(max-width: 767px)" srcset="
					/images/hero/hero-image-mobile.jpg    1x,
					/images/hero/hero-image-mobile@2x.jpg 2x
				" />
					<source media="(min-width: 768px) and (max-width: 1279px)" srcset="
					/images/hero/hero-image-tablet.jpg    1x,
					/images/hero/hero-image-tablet@2x.jpg 2x
				" />
					<source media="(min-width: 1280px)" srcset="
					/images/hero/hero-image-desktop.jpg    1x,
					/images/hero/hero-image-desktop@2x.jpg 2x
				" />
					<img src="/images/hero/hero-image-mobile.jpg" alt="women sportswear working out outdoors" loading="lazy" />
				</picture>
			</div>

			<ul class="hero__hashtags">
				<li class="hero__hashtag">
					<a href="https://www.instagram.com/explore/tags/sport/" target="_blank" rel="noopener noreferrer" class="hero__hashtag-text">#Sport</a>
				</li>
				<li class="hero__hashtag">
					<a href="https://www.instagram.com/explore/tags/healthy/" target="_blank" rel="noopener noreferrer" class="hero__hashtag-text">#Healthy</a>
				</li>
				<li class="hero__hashtag">
					<a href="https://www.instagram.com/explore/tags/workout/" target="_blank" rel="noopener noreferrer" class="hero__hashtag-text">#Workout</a>
				</li>
				<li class="hero__hashtag">
					<a href="https://www.instagram.com/explore/tags/diet/" target="_blank" rel="noopener noreferrer" class="hero__hashtag-text">#Diet</a>
				</li>
			</ul>
		</div>
	</div>
</section>