:root {
  --color-black: #242424;
  --color-white: #F4F4F4;
  --color-light-border: #E6E6E6;
  --color-dark-border: #323232;
  --font-family-primary: 'DM Sans';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: var(--font-family-primary), sans-serif;
  color: var(--color-text);
  background: var(--color-white);
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.17;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

p {
  font-size: 1.125rem;
}

section {
  padding: 4.5rem 0;
}

.container {
  max-width: 1152px;
  padding: 0 2rem;
  margin: auto;
}

.btn {
  border-radius: 0.75rem;
  height: 3rem;
  padding: 0.75rem 1.5rem;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.btn-primary {
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.btn-primary:focus,
.btn-primary:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.btn-secondary {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  color: var(--color-black);
}

.btn-secondary:focus,
.btn-secondary:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.social-list {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.social-list__item__button {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.625rem;
  border: 1px solid var(--color-light-border);
  color: var(--color-black);
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.social-list__item__button:focus,
.social-list__item__button:hover {
  background: var(--color-black);
  color: var(--color-white);
}

.social-list__item__button__contrast {
  border: 1px solid var(--color-dark-border);
  color: var(--color-white);
}

.social-list__item__button__contrast:focus,
.social-list__item__button__contrast:hover {
  background: var(--color-white);
  color: var(--color-black);
}

/* Tablet */
@media (min-width: 768px) {
	
}

/* Desktop */
@media (min-width: 1280px) {
	
}