
.ex-modal {
        width: 400px;
        color: white;
        background-color: #1e1e1e;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        padding: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 1000;
      
        
    }

    .ex-modal img {
        width: 100%;
        border-radius: 10px;
    }

    .ex-modal .title {
        font-size: 24px;
        margin: 15px 0 5px;
    }

    .ex-modal .stars {
        color: gold;
        margin-bottom: 10px;
    }

    .ex-modal .info {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.5);
            display: none;
            z-index: 999;
        }
